table {
    border-collapse: collapse;
}
table,
th,
td {
    border-bottom: 1px solid #ddd;
}

th,
td {
    padding: 3px 7px 3px 7px;
    text-align: left;
    border-left: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #33A5FF;
    color: white;
}
tr th a {
    color: orange;
}
tr th a:hover {
    color: brown;
}
#big-left-padding {
    padding-left: 60px;
}
